body{
    font-family: 'Mulish', sans-serif;
}
header{
    background-color: #fffbf0;
}
.logo{
    width: 350px;
}
.custom-nav{
    font-size: 20px;
    font-weight: 600;
}
.header-text{
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
}
.hilight-text{
    color: #fabe4c;
}
.hilight-text-black{
    color: #363958;
}
.buy-button{
    background-image: linear-gradient(rgb(179, 206, 74), rgba(133, 160, 25, 1));
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    border: 0px;
    border-radius: 8px;
}
.icon{
    color: #fff;
}
.product{
    box-shadow: 2px 2px 9px 1px #0000002e;
    border-radius: 20px;
    margin: 0px 10px;
    padding-top: 1px;
}
.product-img{
    background-color: #F1F1F1;
    margin: 25px;
    padding: 20px 0px;
    border-radius: 20px;
}
.product-img img{
    width: 310px;
    height: 350px;
}
.product h5{
    font-size: 24px;
    font-weight: 600;
}
.product-footer{
    padding: 10px 30px;
}
.product-footer p{
    color:#fabe4c;
    font-size: 35px;
    font-weight: 800;
}
.footer-left{
    box-shadow: 0px 0px 8px 6px #00000010;
    border-radius: 10px;
}
@media only screen and (max-width:576px){
    .header-text{
        font-size: 30px;
        font-weight: 700;
    }
    .logo{
        width: 250px;
    }
}